<h1>Book list</h1>


<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>ISBNコード</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody style="border 1">
    <% @m_books.each do |m_book| %>
      <tr>
        <td><%= m_book.name %></td>
        <td><%= m_book.isbn %></td>
        <td>
          <%= unless m_book.requested_by?(current_user)
            link_to 'Request', purchase_requests_path(purchase_request: {m_book_id: m_book.id, request_user_id: current_user.id, status: "requesting"}), remote: true, method: :post, id: "request-book#{m_book.id}" 
          end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Request new book', new_purchase_request_path %>