<h2>Show</h2>

<%= render 'devise/registrations/user' %>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Top', root_path %>
