<header class="navbar navbar-fixed-top navbar-inverse navbar-fixed-top">
  <nav>
    <% if user_signed_in? %>
      <%= link_to current_user.show_name, user_path(current_user.id) %> |
      <a class="navbar-brand" href="#">
        <%= image_tag current_user.thumbnail_image, :class => 'img-rounded' %>
      </a>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン", user_omniauth_authorize_path(:github) %>
    <% end %>
  </nav>
</header>