    <div class=".well sidebar-nav">
      <ul class="nav nav-list">
        <li><%= link_to "本購入リクエスト", purchase_requests_path %></li>
        <li><%= link_to "社内本一覧" %></li>
        <li><%= link_to "ユーザー用本一覧" %></li>
        <li><%= link_to "利用企業管理" %></li>
      </ul>
    </div>