    <div class=".well sidebar-nav">
      <ul class="nav nav-list">
        <li><%= link_to "本購入リクエスト", purchase_requests_path %></li>
        <li><%= link_to "社内本一覧", admin_m_books_path %></li>
        <li><%= link_to "拠点登録", admin_m_branches_path %></li>
        <li><%= link_to "ユーザー用本一覧" %></li>
      </ul>
    </div>