<p>
  <strong>タイトル:</strong>
  <%= @product.m_book.name %>
</p>
<p>
  <strong>ISBNコード:</strong>
  <%= @product.m_book.isbn %>
</p>
<p>
  <strong>所有者:</strong>
  <%= @product.owner.name %>
</p>

<%= link_to 'Back', m_books_path %>
